.Rproj.user
.Rhistory
.RData
.Ruserdata
data/**
*.gpkg
*.tif
*.zip
*.shp
*.dbf
*.prj
*.shx
# ---- R / SpaDES build artifacts ----
*.html
*.knit.md

# ---- SpaDES runtime ----
cache/
modules/
scratch/
inputs/
outputs/

# ---- Local development ----
testboth.R
EasternCanadaDataPrep/
.Rhistory
.RData
